$primary: #982fff;

@use 'bootstrap/scss/bootstrap' with (
  $primary: $primary
);

body.popup {
  .page {
    width: 350px;
    display: grid;
  }

  section {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    width: 100%;
    input {
      font-size: 1rem;
    }
  }

  label {
    font-size: 1rem;
  }

  h5 {
    margin-bottom: 0;
  }
}

@mixin text-selection {
  background-color: $primary;
  color: #fff;
}

::selection {
  @include text-selection;
}

::-moz-selection {
  @include text-selection;
}

#sign-in-page {
  h1 {
    font-weight: normal;
    font-size: 40px;
  }

  input {
    border: 1px solid #dedede;
    border-radius: 4px;

    &:focus {
      border-color: $primary;
    }

    &::placeholder {
      color: #b0b2bf;
    }
  }

  a {
    color: #009cf6;
  }
}

.break-anywhere {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.TokenHelpText,
#polling-message {
  &.alert {
    background-color: #f9f9f9;
  }
}

.round-checkbox {
  border-radius: 50%;
  margin-top: 0;

  &:checked {
    background-color: $primary;
    border-color: $primary;
  }
}

body.popup {
  .form-check {
    display: flex;
    align-items: center;

    .form-check-input {
      margin-top: 0;

      &.round-checkbox {
        border-radius: 50%;

        &:checked {
          background-color: $primary;
          border-color: $primary;
        }
      }
    }

    .form-check-label {
      margin-left: 0.4rem;
      margin-top: 0.1rem;
      line-height: 1.125rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
