$primary: #982FFF;

@use 'bootstrap/scss/bootstrap' with (
  $primary: $primary
);

body.popup {
  .page {
    width: 350px;
    display: grid;
  }

  section {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    width: 100%;
    input {
      font-size: 1rem;
    }
  }

  label {
    font-size: 1rem;
  }

  h5 {
    margin-bottom: 0;
  }
}

@mixin text-selection {
  background-color: $primary;
  color: #FFF;
}

::selection {
  @include text-selection;
}

::-moz-selection {
  @include text-selection;
}

#sign-in-page {
  h1 {
    font-weight: normal;
    font-size: 40px;
  }

  input {
    border: 1px solid #DEDEDE;
    border-radius: 4px;

    &:focus {
      border-color: $primary;
    }

    &::placeholder {
      color: #B0B2BF;
    }
  }

  a {
    color: #009CF6;
  }
}

.break-anywhere {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.TokenHelpText {
  &.alert {
    background-color: #F9F9F9;
  }
}
