body.popup {
    .page {
        width: 350px;
        min-height: 300px;
        display: grid;
    }

    section {
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 0.8rem;
        width: 100%;
        input {
            font-size: 1rem;
        }
    }

    label {
        font-size: 1rem;
    }

    h5 {
        margin-bottom: 0;
    }
}

.container-small {
    margin: auto;
    width: 100%;
    max-width: 350px;
}

#sign-in-page {
    min-height: 400px;
    h1 {
        font-weight: normal;
        font-size: 40px;
    }
}

.break-anywhere {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#fail-message {
    overflow-wrap: break-word;
    max-width: 300px;
}
