body.popup .page {
    width: 350px;
    min-height: 300px;
    display: grid;
}

.container-small {
    margin: auto;
    width: 100%;
    max-width: 350px;
}

#sign-in-page {
    min-height: 400px;
}

#sign-in-page h1 {
    font-weight: normal;
    font-size: 40px;
}

#working-page {
}

.break-anywhere {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

body.popup section {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    width: 100%;
}

body.popup section input, body.popup label {
    font-size: 1rem;
}

body.popup h5 {
    margin-bottom: 0;
}

#fail-message {
    overflow-wrap: break-word;
    max-width: 300px;
}