!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %title Popup - Screenly
  %body.popup
    .page#sign-in-page
      .d-flex.flex-column
        %section.flex-grow-1.d-flex.justify-content-center.align-items-center
          %div.text-center
            %img{:src => "assets/images/screenly-logo-128.png", :width => "64"}
            %h1.mt-2.mb-1 Screenly
            %a{:href => "https://screenly.io"}
              screenly.io
        %section
          %button.btn.btn-primary.w-100#open-sign-in Sign In

    .page#working-page{:hidden => true}
      .d-flex.align-items-center.justify-content-center.h-100
        .spinner-border
          %span.sr-only Loading...

    .page#proposal-page{:hidden => true}
      %form#add-it
        %section
          %h5#title
        %section.bg-light
          #url.text-monospace.break-anywhere
        %section
          .form-check
            %input.form-check-input#with-auth-check{:type => "checkbox"}
            %label.form-check-label{:for => "with-auth-check"} Include Authentication Details
          #with-auth-check-info.mt-2
            .alert.alert-warning
              %p.mb-0
                Warning: a determined attacker with physical access to your digital sign could extract these saved credentials for
                %span.text-monospace#hostname.break-anywhere
                  example.com
                \ and gain access to your account.

          .text-muted.font-italic.mb-0.mt-2
            %p.mb-0
              This option saves the web page and <strong>your current session credentials</strong> to your Screenly account. Note that this option is not compatible with all web pages.
        %section#verification{:hidden => true}
          .form-check
            %input.form-check-input#no-verification-check{:type => "checkbox"}
            %label.form-check-label{:for => "no-verification-check"} Bypass Verification

        %section
          %button.btn.btn-primary.w-100#add-it-submit{:type => "submit"}
            %span.spinner.spinner-border.spinner-border-sm{:ariaHidden => "true", :hidden => "true"}
            %span.label.add Add to Screenly
            %span.label.update{:hidden => "true"} Update Asset
          .alert.alert-danger.mt-3.mb-0#add-it-error{:hidden => "true"}
            Failed to save web page.

    .page#success-page{:hidden => true}
      .d-flex.flex-column
        %section.flex-grow-1.d-flex.justify-content-center.align-items-center
          %div
            .success-checkmark.mt-4
              .check-icon
                %span.icon-line.line-tip
                %span.icon-line.line-long
                .icon-circle
                .icon-fix
            %h3.text-center
              Web page saved!
            %p.text-muted
              To show the web page on your digital sign, add the web asset to a playlist in your Screenly account.
        %section
          %button.btn.btn-primary.w-100#view-it
            %span.label View Asset

    %script{:src => "lib/vendor/browser-polyfill.min.js"}
